html, body{
	height: 100%;
	width: 100%;
}
.navbar {
	background-color: rgb(211, 211, 223);
	padding:0,5% 0;
	font-size: 1.2em;
}
/*=====LANDING PAGE=====*/
#inicio {
	background: url(img/frontend.jpg) no-repeat center center fixed;
	display: table;
	height: 100%;
	position: relative;
	width: 100%;
	background-size: cover;
}
#inicio:before {
	content:'';
	position: absolute;
        top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.6);
}
.landing-text {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}
.landing-text h1 {
	font-size: 500%;
	font-weight: 700;
	color: #fff;
	position: relative;
}
.landing-text h3 {
	color: #fff;
	position: relative;
}
.landing-text a {
	position: relative;
}
/*=====SOBRE MÍ=====*/
.padding {
	padding: 80px 0;
	padding-right: 10%;
	padding-left: 10%;
	background-color: rgb(236, 236, 236) ;
}
.padding img {
	width: 100%;
	display:block;
	margin:auto;
}
/*=====SERVICIOS=====*/
#servicios{
	background-color: rgb(208, 208, 211);
}

